<h3>Estadísticas</h3>
<p>Número de pregunta: <%=a.preguntas%><p>
<p>Número de comentarios: <%=a.comentarios%><p>
<p>Número medio de comentarios por pregunta: <%=Math.round(a.comentarios/a.preguntas*10)/10%><p>
<p>Número de preguntas sin comentarios: <%=a.preguntas-a.ccoment%><p>
<p>Número de preguntas con comentarios: <%=a.ccoment%><p>

